<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789625778458-jtao7gca5bl69l328s93th6hr89veap3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789625778458-jtao7gca5bl69l328s93th6hr89veap3</string>
	<key>API_KEY</key>
	<string>AIzaSyB4HAXLhwwVFEq1U60aqEf1N_j9dBKJGDc</string>
	<key>GCM_SENDER_ID</key>
	<string>789625778458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movement</string>
	<key>PROJECT_ID</key>
	<string>movement-c631c</string>
	<key>STORAGE_BUCKET</key>
	<string>movement-c631c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789625778458:ios:09d3f4c5a251bbfbd77ca3</string>
</dict>
</plist>